[Desktop Entry]
Categories=AudioVideo;AudioVideoEditing;
Comment[es_PR]=Convertir entre formatos de archivos multimedia
Comment=Convertir entre formatos de archivos multimedia
Comment[ar]=تحويل بين صيغ ملفات الوسائط
Comment[cs]=Převést mezi formáty souborů
Comment[fr]=Convertit entre formats de fichier multimédia
Comment[hu]=Média fájlformátumok átalakítása
Comment[it]=Converte file multimediali in vari formati
Comment[ja]=音声とビデオファイルの変換
Comment[pl]=Konwersja plików multimedialnych, pomiędzy różnymi formatami
Comment[ro]=Converteşte formatele de fișiere media
Comment[ru]=Преобразование между медиа-форматами
Comment[tr]=Çokluortam dosya biçimleri arasında dönüştürme
Comment[zh_CN]=转换影音文件格式
Comment[zh_TW]=轉換影音檔案格式
Exec=mystiq %U
GenericName[es_PR]=Convertidor de Archivos Multimedia
GenericName=Convertidor de Archivos Multimedia
GenericName[ar]=محول الوسائط
GenericName[cs]=Převodník médií
GenericName[fr]=Convertisseur de fichier multimédia
GenericName[hu]=Média átalakító
GenericName[it]=Convertitore di file multimediali
GenericName[ja]=メディア変換
GenericName[pl]=Konwerter mediów
GenericName[ro]=Media Converter
GenericName[ru]=Медиа-конвертер
GenericName[tr]=Çokluortam Dönüştürücü
GenericName[zh_CN]=影音转换器
GenericName[zh_TW]=影音轉檔器
Icon=mystiq
MimeType=
Name[es_PR]=MystiQ Video Converter
Name=MystiQ Video Converter
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-StartupNotify=false
X-KDE-SubstituteUID=false
X-KDE-Username=
X-SuSE-translate=true
